/*--SECTION 1--*/

@media screen and (max-width: 1120px) {
    section.sec1 .container::before {
        transform: scale(0.8);
        bottom: -71%;
    }
}

@media screen and (max-width: 1000px) {
    section.sec1 .container::before {
        transform: scale(0.6) translateX(16%);
        bottom: -87%;
    }
}

@media screen and (max-width: 840px) {
    section.sec1 .container::before {
        display: none;
    }
    section.sec1 .container{
        text-align: center;
    }
}

@media screen and (max-width: 510px) {
   section.sec1 .container span {
    font-size: 1.5em;
    }
    section.sec1 .container h1 {
    font-size: 2.5em;
     }
}